* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: darkcyan;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    color: white;
    font-family: 'Arimo', 'Nanum Gothic','Gothic A1', 
    'Noto Sans Cuneiform','Noto Sans Gothic', 
    sans-serif;
    -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  touch-action: pan-down, pan-up;
}

#title {
    height: 12vh;
}

#title h1 {
    font-size: 1.8vw;
    letter-spacing: 0.04em;
    position: relative;
    animation: heading 2.5s ease forwards;
}

@keyframes heading {
    0% {top: -50vh}
    100% {top: 7vh}
}

hr {
    opacity: 0;
    background-color: white;
    height: 0.001em;
    width: 15vw;
    margin: 0 auto;
    animation: textanimationfadeline 2s ease 3s forwards;
}

.container {
    margin: auto;
    padding: 1vh 22vw;
    color: white;
    line-height: 1;
    font-size: 1vw;
}

#text1 { 
    padding-top: 1vh;
    opacity: 0;
    left: -100vw;
    position: relative;
    animation: textanimationleft 3s ease 1s forwards,
    textanimationfade 5s ease 1.9s forwards;
}

#b2 {
    opacity: 0;
    padding: 0;
    margin: 0;
    animation: textanimationfade 0.5s ease 7s forwards;
}

#text2 {
    opacity: 0;
    right: 100vw;
    position: relative;
    animation: textanimationright 3s ease 1.3s forwards,
    textanimationfade 5s ease 2.3s forwards;
}

#b3 {
    opacity: 0;
    padding: 0;
    margin: 0;
    animation: textanimationfade 0.5s ease 7.2s forwards;
}

#text3 {
    
    opacity: 0;
    left: -100vw;
    position: relative;
    animation: textanimationleft 3s ease 1.6s forwards,
    textanimationfade 5s ease 2.7s forwards;
}

#b4 {
    opacity: 0;
    padding: 0;
    margin: 0;
    animation: textanimationfade 0.5s ease 7.4s forwards;
}

#text4 {
    opacity: 0;
    right: 100vw;
    position: relative;
    animation: textanimationright 3s ease 1.9s forwards,
    textanimationfade 5s ease 3.1s forwards;
}

#b5 {
    opacity: 0;
    padding: 0;
    margin: 0;
    animation: textanimationfade 0.5s ease 7.6s forwards;
}

#text5 {
    opacity: 0;
    left: -100vw;
    position: relative;
    animation: textanimationleft 3s ease 2.2s forwards,
    textanimationfade 5s ease 3.5s forwards;
}

#bmid {
    opacity: 0;
    padding: 0;
    margin: 0;
    animation: textanimationfade 0.5s ease 7.8s forwards;
}

#textmid {
    
    opacity: 0;
    right: 100vw;
    position: relative;
    animation: textanimationright 3s ease 2.5s forwards,
    textanimationfade 5s ease 3.9s forwards;
}

#bmid2 {
    opacity: 0;
    padding: 0;
    margin: 0;
    animation: textanimationfade 0.5s ease 8s forwards;
}

#textmid2 {
    opacity: 0;
    left: -100vw;
    position: relative;
    animation: textanimationleft 3s ease 2.8s forwards,
    textanimationfade 5s ease 4.3s forwards;
}

#b6 {
    opacity: 0;
    padding: 0;
    margin: 0;
    animation: textanimationfade 0.5s ease 8.2s forwards;
}

#text6 {
    opacity: 0;
    right: 100vw;
    position: relative;
    animation: textanimationright 3s ease 3.1s forwards,
    textanimationfade 5s ease 4.7s forwards;
}

#b7 {
    opacity: 0;
    padding: 0;
    margin: 0;
    animation: textanimationfade 0.5s ease 8.4s forwards;
}

#text7 {
    margin-top: 1vh;
    margin-left: 10vw;
    padding: 0.2rem 1rem;
    opacity: 0;
    width: 18vw;
    float: left;
    position: relative;
    border: 1px solid white;
    animation: textanimationleft 3s ease 3.4s forwards,
    textanimationfade 4.8s ease 4.9s forwards;
}

#text8 {
    margin-top: 1vh;
    margin-right: 10vw;
    padding: 0.2rem 1rem;
    opacity: 0;
    width: 18vw;
    float: right;
    position: relative;
    border: 1px solid white;
    animation: textanimationright 3s ease 3.4s forwards,
    textanimationfade 4.9s ease 4.9s forwards;
}


#text9 {
    margin-top: 1vh;
    padding: 0.2rem 1rem;
    opacity: 0;
    position: relative;
    animation: textanimationfade 5s ease 7s forwards, 
    colorchange 7s ease-in-out 8s infinite;
}


@keyframes textanimationleft {
    0% { left: -100vw; }
    100% { left: 0; }
}

@keyframes textanimationright {
    0% { right: -100vw; }
    100% { right: 0; }
}

@keyframes textanimationfade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes textanimationfadeline {
    0% { opacity: 0; }
    100% { opacity: 0.5; }
}

@keyframes colorchange {
    0% { color: white }
    10% { color: white }
    50% { color: cyan }
    90% { color: white }
    100% { color: white }
}

/* Portrait */



@media all and (device-height: 640px)
            and (device-width: 384px) {

    .container {
        font-size: 1vw;
        line-height: 0.5vh;
    }

    @keyframes heading {
        0% {top: -50vh}
        100% {top: 1vh}
    }

    #text8 {
        margin-top: 0.1vh;
        padding: 0;
        margin-right: 1vw;
    }

    #text7 {
        margin-top: 0.1vh;
        padding: 0;
        margin-left: 1vw;
    } 

    #text9 {
        padding-top: 1vh;
    } 
}

@media all and (max-height: 500px) {
    .container {
        font-size: 2.4vh;
        padding: 1vh 5vw;
    }

    #title h1 {
        font-size: 6vw;
    }

    #title {
        height: 7vh;
    }

    .dot {
        display: none;
    }

    @keyframes heading {
        0% {top: -50vh}
        100% {top: 2.1vh}
    }

    #text8 {
        margin-top: 1vh;
        padding: 0.2rem 1rem;
        margin-right: 4vw;
        width: 30vw;
    }

    #text7 {
        margin-top: 1vh;
        padding: 0.2rem 1rem;
        margin-left: 4vw;
        width: 30vw;
    }

    #text9 {
        padding-top: 1vh;
        clear: both;
    }

}

@media all and (max-width: 500px)
            and (min-height: 630px) {
    .container {
        padding: 1.1vw 7vw;
        font-size: 3.6vw;
        line-height: 3.9vw;
    }
    
    .dot {
       display: none;
    }

    #title h1 {
        font-size: 7vw;
    }

    #title {
        height: 8vh;
    }

    @keyframes heading {
        0% {top: -50vh}
        100% {top: 3.3vh}
    }

    #text8 {
        margin-top: 1vh;
        padding: 0.2rem 2rem;
        margin-right: 9vw;
    }

    #text7 {
        margin-top: 1vh;
        padding: 0.2rem 2rem;
        margin-left: 9vw;
    }

    #text9 {
        padding-top: 1vh;
        clear: both;
    }
}

/* Tablets */

@media all and (max-width: 800px)
            and (min-width: 500px)
             and (min-height: 1024px)
              and (max-height: 1280px) {
    .container {
        padding: 1vw 7vw;
        font-size: 2.8vw;
        line-height: 3.3vw;
    }

    .dot {
        font-size: 0.1vw;
        padding: 0;
        margin: 0;
        display: none;
    }

    #title h1 {
        font-size: 5vw;
    }

    #title {
        height: 8vh;
    }

    @keyframes heading {
        0% {top: -50vh}
        100% {top: 3.5vh}
    }

    #text8 {
        margin-top: 1vh;
        margin-right: 5vw;
        width: 30vw;
    }

    #text7 {
        margin-top: 1vh;
        margin-left: 5vw;
        width: 30vw;
    }

    #text9 {
        padding-top: 1vh;
        clear: both;
    }

}    

@media all and (max-width: 595px)
            and (min-width: 500px) {
 .container {
        padding: 1vw 7vw;
        font-size: 2.3vw;
        line-height: 2.8vw;
    }

    .dot {
        font-size: 0.1vw;
        padding: 0;
        margin: 0;
        display: none;
    }

    #title h1 {
        font-size: 4vw;
    }

    #title {
        height: 8vh;
    }

    @keyframes heading {
        0% {top: -50vh}
        100% {top: 3vh}
    }

    #text8 {
        margin-top: 1vh;
        margin-right: 5vw;
        width: 30vw;
    }

    #text7 {
        margin-top: 1vh;
        margin-left: 5vw;
        width: 30vw;
    }

    #text9 {
        padding-top: 1vh;
        clear: both;
    }
}

/* Landscape */

@media all and (orientation: landscape) {
        @keyframes heading {
            0% {top: -50vh}
            100% {top: 4vh}
        }  
        
        .container {
            font-size: 1.6vw;
            padding: 1.1vh 10vw;
            margin: 0 auto;
            line-height: 3.5vh;
        }

        #text8 {
            margin-top: 1vh;
            padding: 0.2rem 1rem;
            margin-right: 6vw;
            width: 20vw;
        }
    
        #text7 {
            margin-top: 1vh;
            padding: 0.2rem 1rem;
            margin-left: 6vw;
            width: 20vw;
        }

        .dot {
            display: none;
        }

        #title h1 {
            font-size: 3vw;
        }

        #title {
            height: 11vh;
        }

        #text9 {
            padding-top: 1vh;
            clear: none;
        }

       
}


/* Desktop */

@media all and (min-width: 1281px) {
    .container {
        margin: auto;
        padding: 1vh 22vw;
        color: white;
        line-height: 1;
        font-size: 1vw;
    }

    #title h1 {
        font-size: 2.7vw;
    }

    #text7 {
        margin-top: 1vh;
        margin-left: 18vw;
        padding: 0.2rem 1rem;
        opacity: 0;
        width: 18vw;
        float: left;
        position: relative;
        border: 1px solid white;
        animation: textanimationleft 3s ease 3.4s forwards,
        textanimationfade 4.8s ease 4.9s forwards;
    }
    
    #text8 {
        margin-top: 1vh;
        margin-right: 18vw;
        padding: 0.2rem 1rem;
        opacity: 0;
        width: 18vw;
        float: right;
        position: relative;
        border: 1px solid white;
        animation: textanimationright 3s ease 3.4s forwards,
        textanimationfade 4.9s ease 4.9s forwards;
    }

    .dot {
        display: inline;
    }

}

@media (min-width: 1025px) and (max-width: 1280px) {
    .container {
        margin: auto;
        padding: 1vh 21vw;
        color: white;
        line-height: 1;
        font-size: 1.2vw;
    }

    #text7 {
        display: block;
        margin-top: 1vh;
        margin-left: 10vw;
        padding: 0.2rem 1rem;
        opacity: 0;
        width: 18vw;
        float: left;
        position: relative;
        border: 1px solid white;
        animation: textanimationleft 3s ease 3.4s forwards,
        textanimationfade 4.8s ease 4.9s forwards;
    }
    
    #text8 {
        display: block;
        margin-top: 1vh;
        margin-right: 10vw;
        padding: 0.2rem 1rem;
        opacity: 0;
        width: 18vw;
        float: right;
        position: relative;
        border: 1px solid white;
        animation: textanimationright 3s ease 3.4s forwards,
        textanimationfade 4.9s ease 4.9s forwards;
    }


    .dot {
        display: inline;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: auto;
        padding: 1vh 20vw;
        color: white;
        line-height: 1;
        font-size: 1.3vw;
    }

    #text7 {
        display: block;
        margin-top: 1vh;
        margin-left: 11vw;
        padding: 0.2rem 1rem;
        opacity: 0;
        width: 18vw;
        float: left;
        position: relative;
        border: 1px solid white;
        animation: textanimationleft 3s ease 3.4s forwards,
        textanimationfade 4.8s ease 4.9s forwards;
    }
    
    #text8 {
        display: block;
        margin-top: 1vh;
        margin-right: 11vw;
        padding: 0.2rem 1rem;
        opacity: 0;
        width: 18vw;
        float: right;
        position: relative;
        border: 1px solid white;
        animation: textanimationright 3s ease 3.4s forwards,
        textanimationfade 4.9s ease 4.9s forwards;
    }


    .dot {
        display: inline;
        font-size: 1vw;
    }
}

@media all and (min-width: 320px) and (max-width: 500px) {

.container {
    margin: auto;
    padding: 1vh 10vw;
    color: white;
    line-height: 1;
    font-size: 2.5vw;
}

#title h1 {
    font-size: 5vw;
}

#text8 {
    margin-top: 1vh;
    margin-right: 11vw;
    padding: 0.5rem 1rem;
    width: 22vw;
}

#text7 {
    margin-top: 1vh;
    padding: 0.5rem 1rem;
    margin-left: 11vw;
    width: 22vw;
}

#text9 {
    padding-top: 1vh;
    clear: both;
}


.dot {
    display: none;
}

}