html {
    height: 100%;
    width: 100%;
}

body {
    background-color: darkcyan; 
    height: inherit;
    width: inherit;
    overscroll-behavior-y: contain;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  touch-action: none;
}

.container { 
    text-align: center;
    font-size: 3.5vh;
    padding: 0;
    margin: 0;  
}

.hide {
    margin: 0;
    padding: 0;
    color: darkcyan;
    transition-timing-function: ease-in-out;
}

#btnhide {
    position: relative;
    left: 50%;
    margin-left: -5vw;
    border: none;
    padding: 0;
    width: 10vw;
    height: 5vh;
    z-index: 999;
    opacity: 0;
    background-color: transparent;
    font-size: 2.5vh;
    text-align: center;
    color: rgba(236, 250, 247, 0.6);
    font-family: 'Arimo', 'Nanum Gothic','Gothic A1', 
    'Noto Sans Cuneiform','Noto Sans Gothic', 
    sans-serif;
}

#btnshow {
    border: 1px solid rgba(255, 255, 255, 0.25);
    position: relative;
    left: 50%;
    top: 100%;
    margin-left: -30vw;
    margin-top: 3vh;
    padding: 0;
    width: 60vw;
    height: 3.4vh;
    z-index: 999;
    background-color: transparent;
    font-size: 2.5vh;
    opacity: 0;
    text-align: center;
    color: rgba(236, 250, 247, 0.6);
    font-family: 'Arimo', 'Nanum Gothic','Gothic A1', 
    'Noto Sans Cuneiform','Noto Sans Gothic', 
    sans-serif;
    /* -webkit-transition-property: opacity;
    -webkit-transition-duration: 3s;
    -webkit-transition-delay: 6s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: opacity;
    transition-duration: 3s;
    transition-delay: 6s;
    transition-timing-function: ease-in-out; */
    animation: textbackcolor 5s ease-in-out 5s infinite,
    textopacity 3s ease-in-out 6s forwards;
    -webkit-animation: textbackcolor 5s ease-in-out 5s infinite,
    textopacity 3s ease-in-out 6s forwards;
}

@keyframes textbackcolor {
    0% { background-color: darkcyan; }
    50% { background-color: rgba(0, 255, 255, 0.1); } 
    100% { background-color: darkcyan; }
}

@keyframes textopacity {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}

#btnshow:focus {
    outline: none;
} 

#btnhide:focus {
    outline: none;
}

#btnshow:hover {
  color: white;
  background-color: rgba(23, 131, 131, 0.5);
}

#stextanim {
    animation: texttransparent 6s ease-in-out 1s infinite;
}

#stextanim:hover {
    background-color: rgba(3, 95, 95, 0.2);
}

@keyframes texttransparent {
    0% { opacity: 0; }
    30% { opacity: 1; }
    60% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}
    

.fadeoutslow {
    margin: 0;
    padding: 0;
    color: darkcyan;
    font-family: 'Arimo', monospace;
    animation: text 4s 1;
    -webkit-transition-property: color;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}

.fadeoutfast {
    
    margin: 0;
    padding: 0;
    color: darkcyan;
    font-family: 'Arimo', monospace;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0.1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}

.fadein {

    margin: 0;
    padding: 0;
    color:white;
    font-family: 'Arimo', monospace;
    -webkit-transition-property: color;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}



