html {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: darkcyan; 
}

.container { 
    text-align: center;
    padding: 0;
    margin: 0;   
}

#hidecanvas {
   display: none;
}

#hide {
    margin: 0;
    padding: 0;
    color: darkcyan;
    transition-timing-function: ease-in-out;
}
    

#fadeoutslow {

    margin: 0;
    padding: 0;
    color: darkcyan;
    font-size: 60px;
    font-family: 'Arimo', monospace;
    animation: text 4s 1;
    -webkit-transition-property: color;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}

#fadeoutfast {
    
    margin: 0;
    padding: 0;
    color: darkcyan;
    font-size: 60px;
    font-family: 'Arimo', monospace;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0.1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}

#fadein {

    margin: 0;
    padding: 0;
    color:white;
    font-size: 60px;
    font-family: 'Arimo', monospace;
    animation: text 4s 1;
    -webkit-transition-property: color;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}


/* #instr2 {
    padding: 0;
    color: darkcyan;
    font-size: 60px;
    font-family: 'PT Sans', monospace;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.8s;
    
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color;
    transition-duration: 0.8s;
    
    transition-timing-function: ease-in-out;
} */


    


/* #instr1 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 60px;
    font-family: 'PT Sans', monospace;
    -webkit-transition-property: color;
    -webkit-transition-duration: 3s;
    -webkit-transition-delay: 1.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: color;
    transition-duration: 3s;
    transition-delay: 1.5s;
    transition-timing-function: ease-in-out; 
} */



/* @keyframes text {
    0%{
        color: darkcyan;
    }
} */